.editor-root {
    display: flex;
    flex-direction: column;
    height: 100%;
    .editor-title {
        padding: 5px;
        border-bottom: solid 1px lightgray;
        display: flex;
        > *:first-child {
            flex-grow: 1;
            font-size: large;
            text-align: center;
        }
    }
    .editor-controls {
        padding: 5px;
        border-bottom: solid 1px lightgray;
        & > * {
            margin: 0 5px;
        }
        .inline-controls {
            margin: 0 2px;
        }
    }
    .editor-body {
        flex-grow: 1;
        overflow: scroll;
        textarea {
            width: 100%;
            height: 100%;
            border: none;
        }
    }
}